
	 




<form class="form-inline" role="form" method="post" action="/quizes/<%=quizid%>/comments/">
<div class="panel panel-primary">
<div class="panel-heading">Añadir comentario</div>
<div class="panel-body">
<label for="comment" >Comentario:</label>
<input type="text" class="form-control" id="comment" name="comment[texto]" value=""/> 

<a href="/quizes"><button type="button" class="btn btn-danger btn-sm pull-right">Cancelar</button></a>
<input type="submit" class="btn btn-success btn-sm pull-right" value="Salvar">
</div>
</div>
</form>