     
     
	 <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading"><h2>¡Bienvenidos a <%=title%>!<h2></div>
      <div class="panel-body">¡El portal donde podrá crear sus propios juegos!
		<button type="button" class="btn btn-default pull-right"><a href="/quizes">¡Comienze a jugar!</a></button></div>
    </div>
	</div>
	 
	
	 
     
     
