*  {    margin: 0;padding: 0; }

body {    font:16px Georgia,serif; }

#page-wrap {margin: 2% auto; color:white;}
#page-wrap > .main {border: 1px solid #E0F2F1; padding: 1%;
                    margin-bottom: 1px; color: black;}

section > div {padding: 20px;}
header,nav,section {background: #009688; text-align: center;}
footer             {background: #009688; text-align: center;}
nav span           {margin: 0px 10px 0px 0px;}


.textoResaltado {
    color: #009688;
    text-shadow: 1px 1px 2px black, 0 0 25px #000000, 0 0 5px
    
}

a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #004D40;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #00695C;
}


