*  {    margin: 0;padding: 0; }

body {    font:16px Georgia,serif; }

#page-wrap {margin: 1% auto; color:white;}
#page-wrap > .main {border: 1px solid #E0F2F1; padding: 1%; margin: 1px; color: white;}

section > div {padding: 20px;}
nav,section {background: #009688; text-align: center;}
header {background: #21645E; text-align: center; margin-bottom: 3px; box-shadow: 10px 10px 5px #888888}
footer             {background: #009688; text-align: center;}
nav span           {margin: 0px 10px 0px 0px;}


.textoResaltado {
    color: #009688;
    text-shadow: 1px 1px 2px black, 0 0 25px #000000, 0 0 5px
    
}

#partecentral
{
    margin:5px;
}
a:link, a:visited {
    display: block;
    width: 200px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #004D40;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #00695C;
}

img.estiloimagen{
        max-width: 50%;
        border-radius: 15px;
        height: 100px;
        border:2px solid rgb(241,241,241);      
        }

img:p
{
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    margin:3px;
}
