
		<div class="col-sm-4">
		<div class="panel panel-primary class">
				<div class="panel-heading">Autor</div>
				<div class="panel-body">
				<figure>
				<img src="/images/author.jpg" class="img-thumbnail"alt="Marcelo Tello" width="304" height="236"> 
  				
  				<figcaption><i class="fa fa-copyright"></i> Marcelo Tello</figcaption>
				</figure>		
				</div>
		</div>
		</div>
     
			
			
			
			
	
