
     
			<h3>Autores</h3>
			<figure>
  				<img class="estiloimagen" src="/images/author.jpg" alt="Marcelo Tello" >
  				<figcaption>Marcelo Tello <br> JQuemada</figcaption>
			</figure>	
			
			
	
