
<% var i; for (i=0; i< quizes.length; i++) { %>
<div class="panel panel-default">
		<div class="panel-body">
		<a href="quizes/<%=quizes[i].id %>"><%= quizes[i].pregunta %></a>
		</div>
</div>
<%} %>
