
<!--      código antiguo
	 <form method="get" action="/quizes/<%= quiz.id %>/answer">
        <p><i class="fa fa-question-circle"></i> Preguntaaa: <%=quiz.pregunta%><br></p>
        <i class="fa fa-pencil"></i> <input type="text" name="respuesta" value="Responda aquí">
        <input type="submit" value="Enviar">
     </form>

-->	 
	 
	<div class="panel panel-default">
		<div class="panel-body">
			<form class="form-inline" role="form" method="get" action="/quizes/<%= quiz.id %>/answer">
				<div class="form-group">
					<label for="pwd"><i class="fa fa-question-circle"></i> Pregunta: <%=quiz.pregunta%></label>
					<input type="textarea" name="respuesta" value="Responda aquí" class="form-control" id="respuesta" placeholder="Entra tu respuesta">
					<button type="submit" class="btn btn-primary">Enviar</button>
				</div>
			</form>
		</div>
    </div>
	
