
     <form method="get" action="/quizes/<%= quiz.id %>/answer">
        <p><i class="fa fa-question-circle"></i> Pregunta: <%=quiz.pregunta%><br></p>
        <i class="fa fa-pencil"></i> <input type="text" name="respuesta" value="Responda aquí">
        <input type="submit" value="Enviar">
     </form>
